/***************************************
started 11.17.2015
version 1.1
TODO
box shadows on text and buttons and cotent boxes
update to transparent imgs
gifbg rotating for z circle img
a:current in menu
textalign so that it hits both left and right side of divs
add the jquer loading script to homepage before it loads
make popup for video a tad larger
create x close command that stops youtube playing
update button a:hover states
center talk now button text better
add colors to the phone number
****************************************/

/*general */
body {font-family:'Open Sans', sans-serif;margin:0;padding:0;color:#333;}
#cover {background: url("images/ajax-loader.gif") no-repeat scroll center center #fff;position: absolute;height: 100%;width: 100%;z-index:111}
#container {width:780px;margin:0 auto;}
a, a:hover {color: #ff0ec9; font-weight:bold;}
h1 {font-size:28px;font-weight:500;}
h2 {font-size:24x;font-weight:500;}
h3 {}
.button {margin:20px auto 0 auto;width:116px;}
.button a {text-decoration:none;padding:5px 20px;text-align:center;width:100px;background:#fe0dcb;border-radius:5px;margin:0 auto;color:#fff;}
.button a:hover {color:#fe0dcb;background:#075398;width:100%;border-radius:5px}
.center {text-align:center;}
.unbold {font-weight:normal;}

/*header*/
#header {margin:0;padding:0;width:100%;background:white;}
#header_top {height:59px;float:left;width:100%;border-bottom:1px solid #999;}
#header_left {float:left;width:150px;height:43px;background:url(images/headerlogo.png)no-repeat;margin-top:10px}
#header_right {float:right;width:247px;margin-top:15px;color:#ff0ec9;font-size:25px;}
#header_bottom_right {width:248px;float:right;}
#header_bottom_right ul {list-style-type:none;margin:0;padding:0;position: absolute;z-index:0}
#header_bottom_right li {display:inline-block;float: left;margin-left: 10px;}
#header_bottom_right li a {display:block;color:#999;text-align: center;text-decoration: none;text-transform:uppercase;font-weight:normal;}
#header_bottom_right li:hover a {text-decoration:underline;color:#ff0ec9;}
#header_bottom_right li:hover ul a {color: #2f3036;}
#header_bottom_right li:hover ul a:hover {color: #fff;}
.show-menu {text-decoration: none;color: #fff;background: #278cff;text-align: center;padding: 10px 0;display: none;border-radius:5px;}
input[type=checkbox]{display: none;}
input[type=checkbox]:checked ~ #menu{display: block;}


/*index:video section*/
#videoblock {width:100%;float:left;height:399px;margin:40px 0 0 0;}
#videoblockvideo {background:url(images/zachisvideo.png) no-repeat;margin:0 auto;width:100%;height:408px;}

/*index:under video block*/
#belowvideoblock {width:100%;margin:20px 0;text-align:center;float:left;border-radius:5px;}

/*index:content area*/
#content {width:100%;float:left;padding:10px 0 30px 0;margin-top:20px;border-bottom:1px solid #999;}
#content_left {width:197px;float:left;color:#075398;font-size:25px;line-height:110%;font-family:Georgia,sans-serif;font-style:italic;margin:2% 0 0 4%;}
#content_right {width:389px;float:right;margin:0 20px 0 0;line-height:160%;text-align:justify;}
#contenttext {width:80%;text-align:center;margin:0 auto;line-height:160%;}
.zach-is {color: #278cff;font-weight: bold;}
.zach-zach {color: #0d56a3;font-weight: bold;}
.zach-it {color: #fe0dcb;font-weight: bold;}
.content_left_quote {text-align:center;}
#contenttext ul {margin:0;padding:0;}
#contenttext ul li {list-style:normal;text-align:left;}

/*global:cta*/
#cta_contact {width:100%;float:left;margin:5px 0 0 0;padding:10px 0;border-bottom:1px solid #999;height:169px;}
#cta_contact_text {width:80%;text-align:center;margin:14px auto 10px auto;line-height:160%;}

/*global:cta_web*/
#cta_web {width:100%;float:left;margin:20px 0 0 0;padding:10px 0;border-bottom:1px solid #999;height:262px}
#cta_web_left {background:url(images/respon.gif)no-repeat;width:476px;height:238px;float:left;background-size:475px;margin-left:33px;}
#cta_web_right {float:right;width:200px;margin:30px 26px 0 0;text-align:center;line-height:160%}

/*footer*/
#footer {height:100%;width:100%;float:left;margin:20px 0;padding:10px 0;}
#footer ul {margin:0 auto;width:165px;height:35px;padding:0;}
#footer ul li {margin: 0 10px;list-style:none;float:left;}
.footertext {text-align:center;font-size:11px;width:100%;margin:3px auto 0 auto;clear:both;}

/*websites page*/
#mac {background: url(images/brow.png);height:547px;background-repeat: no-repeat;padding-top: 26px;}
#website_content_box {background:#0D56A3;padding:5px 10px;text-align:center;border-radius:5px;color:white;width:500px;margin:0 auto;clear:both;min-height:56px}
.cycle-slideshow {margin:15px 0 0 31px;width:600px;}
#websites_slideshow_container {width:787px;float:left;}
#websites_slideshow_container_left {float:left;width:64px;margin-top:200px;}
#websites_slideshow_container_middle {width:659px;margin:0;padding:0;float:left;}
#websites_slideshow_container_right {float:right;width:64px;margin-top:200px;}
#websites_platforms {width:100%;float:left;border-top:1px solid #999;margin-top:36px;}
.websites_platforms_rows {height:152px;width:606px;margin:0 auto 10px auto;}
.websites_platforms_block {border:1px solid #ccc;width:190px;float:left;margin:0 10px 0 0;height:152px;}
.websites_platforms_blockr {border:1px solid #ccc;width:190px;float:right;margin:0 10px 0 0;height:152px;}
.wordpress {background:url(images/logo6.png)no-repeat;}
.apple {background:url(images/logo8.png)no-repeat;}
.android {background:url(images/logo9.png)no-repeat;}
.drupal {background:url(images/logo4.png)no-repeat;}
.joomla {background:url(images/logo5.png)no-repeat;}
.zend {background:url(images/logo1.png)no-repeat;}
.magneto {background:url(images/logo7.png)no-repeat;}
.cake {background:url(images/logo2.png)no-repeat;}
.codeig {background:url(images/logo3.png)no-repeat;}
#websites_content {margin-top:20px;width:100%;padding:0;padding-top:20px;border-top:1px solid #999;}
#websites_content p {width:80%;margin:0 auto;text-align:center;line-height:160%;}

/*mobile page */
#mobile {background: url(images/andro-m.png);height:509px;background-repeat: no-repeat;padding-top: 26px;}
#mobile_slideshow_container_middle {width:740px;margin:0;padding:0;float:left;}
#mobile_slideshow_container {width:860px;float:left;}
.mobile {margin:36px 0 0 109px;width:600px;}

/******************************************
responsive
******************************************/
@media screen and (max-width:798px) {
body {font-size:130%;}
#content_left {width:100%;margin:0 auto;}
#content_left img {display:none;}
#content_right {width:100%;float:left;}
#content_right h2 {text-align:center;}
#cta_web_right {float:left;width:100%;padding:0 10px;}
#cta_web_left {width:100%;padding:0 10px;}
img {max-width:100%}
}
@media all and (min-width: 320px) and (max-width: 798px) {
body {font-size:120%;}
#container {width:100%;margin:0;}
#content_left {width:100%;display:block;font-size:140%;margin-bottom:20px;}
#content_left img {display:none;}
#content_right {width:90%;display:block;margin:20px auto 0 auto; float:none;}
#content_right h2 {text-align:center;}
#cta_web_left {width:100%;padding:0 10p;float:left;margin:0;padding:0;background-size:100%}
img {max-width:100%}
#header {width:100%;height:100%;display:block;}
#header_left {width:100%;display:block;background-position:center;}
#header_bottom_right ul {position: static;display: none;}
#header_bottom_right li {border-right:1px solid #999;border-left:1px solid #999;border-bottom:1px solid #999;border-radius:5px;margin:0;}
#header_bottom_right ul li, li a {width: 100%;color:#ff0ec9;text-decoration:none;padding:5px 0}
.show-menu {display:block;margin-top:10px;text-transform:uppercase;}
#header_top {width:100%;display:block;height:100%;}
#header_right {width:100%;display:block;text-align:center;}
#cta_contact {width:100%;display:block;height:100%;background:#278cff;color:white;font-size:1.3em;padding-bottom:25px;}
#cta_web {width:100%;display:block;height:100%;padding:0 0 5% 0;border-bottom:0px;}
#cta_web_left {width:100%;display:block;padding:0;margin:0;max-height:182px;}
#cta_web_right {width:100%;display:block;float:left;margin:0;padding:0;}
#footer {width:100%;display:block;}
#footer ul {width:47%;margin:0 auto;height:auto;}
#cta_contact_text {width:76%;display:block;}
#videoblockvideo img, #cta_web_left img {width:100%;height:auto;}
#videoblockvideo {background-size:100%;max-height:191px;}
#videoblock {display:none;}
#header_bottom_right {width:100%;}
.button {width:100%;float:left;display:block;margin:20px 0 0 0;}
.button a  {width:100%;margin:0;padding:11px 0 0 0;float:left;display:block;font-size:1.3em;height:40px;}
.websites_platforms_rows {width:100%;float:left;}
.websites_platforms_block {width:47%;margin: 0 3px;padding:0}
.drupal, .joomla, .zend , .magento, .cake, .codeig {display:none;}
.content_left_quote  {line-height:36px;text-align: center;color: white;background: #075398;padding: 49px 30px;font-size: 1.2em;}
}/*end responsive */
